.arrowUp {
    position: absolute;
    left: 50%;
    color: white;
 }
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
  padding-top: 70px;
}
.carousel-indicators .active {
    background-color: red;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}

