.arrowUp {
    position: absolute;
    left: 50%;
    color: white;
 }
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
  padding-top: 70px;
}

.carousel-indicators li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
}
.carousel-indicators .active {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: green;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: green;
    background-size: 100%, 100%;
    border-radius: 50%;
}