@import "forms.css";
@media only screen and (min-width: 768px) {
  .map-container {
		height: 91vh;
	}
}
.map-container {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:94vh;
}
.map-container iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
.container-fluid {
	padding-left: 0px;
}
.col-sm-9 {
	padding-right: 0px;
}
.col-sm-3 {
	padding-top: 3vh;
}
.saveBtn {
	margin-top: 1vh;
}

